name: Build Qt
on:
  push:
    tags:
      - qt_static*

env:
  QT_VER: 5.15.2

jobs:
  build_ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]

    steps:
    - name: Create Build Environment
      shell: bash
      run: |
        mkdir ${{runner.workspace}}/qt5-static
        sudo apt update
        sudo apt install -y build-essential ^libxcb.* libcups2-dev libgl1-mesa-dev libglu1-mesa-dev libfontconfig1-dev libfreetype6-dev libx11-dev libx11-xcb-dev libxext-dev libxfixes-dev libxi-dev libxrender-dev libxcb-render-util0-dev libxkbcommon-dev libxkbcommon-x11-dev libpci-dev libicu-dev

    - name: Create Build Environment [ubuntu 16.04]
      shell: bash
      if: matrix.os == 'ubuntu-16.04'
      run: |
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 60 --slave /usr/bin/g++ g++ /usr/bin/g++-9
        sudo update-alternatives --set gcc "/usr/bin/gcc-9"

    - name: Download
      shell: bash
      run: |
        git clone https://code.qt.io/qt/qt5.git
        cd qt5
        git checkout v${{env.QT_VER}}
        ./init-repository -f

    - name: Configure
      shell: bash
      run: |
        cd qt5
        ./configure -platform linux-g++ -release -static -opensource -confirm-license -nomake examples -nomake tests -accessibility -no-sql-sqlite -no-sql-psql -qt-pcre -qt-zlib -qt-libpng -qt-libjpeg -no-feature-vulkan -skip qtwebengine -prefix ${{runner.workspace}}/qt5-static

    - name: Build
      shell: bash
      run: |
        cd qt5
        make -j$(nproc)

    - name: Install
      shell: bash
      run: |
        cd qt5
        make install

    - uses: actions/upload-artifact@v2
      with:
        name: qt${{env.QT_VER}}-static-${{matrix.os}}
        path: ${{runner.workspace}}/qt5-static
        if-no-files-found: error
